<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Agregar corrección de mayúsculas y minúsculas
    CheckSpelling on
    CheckCaseOnly on

    # Manejo de autorización
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Manejo del token CSRF
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Permitir acceso a archivos de /storage
    RewriteCond %{REQUEST_URI} ^/storage/(.*)$
    RewriteCond %{DOCUMENT_ROOT}/storage/%1 -f
    RewriteRule ^storage/(.*)$ /storage/$1 [L]

    # Redirigir barras finales innecesarias
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Enviar solicitudes al controlador principal
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
